// src/app/register/register.component.scss
.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fafafa;
}

.auth-form {
  background: white;
  padding: 2rem;
  width: 100%;
  max-width: 400px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-header {
  text-align: center;

  h2 {
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
  }

  p {
    margin-top: 0.25rem;
    font-size: 0.95rem;
    color: #666;
  }

  .form-logo {
    height: 32px;
  }
}

.input-group {
  display: flex;
  flex-direction: column;
}

.form-input {
  padding: 0.75rem 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 1rem;
  transition: border-color 0.2s ease;
}

.form-input:focus {
  outline: none;
  border-color: #222;
}

.password-wrapper {
  position: relative;

  .toggle-password {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 1.2rem;
    color: #999;
  }

  .btn{
    background-color: #222;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    padding: 0.75rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
}


.submit-btn {
  background-color: #222;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  padding: 0.75rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.submit-btn:hover {
  background-color: #000;
}

.redirect {
  text-align: center;
  font-size: 0.95rem;
  color: #555;

  a {
    text-decoration: none;
    color: #000;

    &:hover {
      text-decoration: underline;
    }
  }
}
